* {
    box-sizing: border-box;
}

main {
    background-color: black;
    color: white;
    padding: 34px;
}

.text-box {
    padding: 34px;
    border: 2px solid white;
    margin: 50px 34vw;
    font-size: 2em;
    border-radius: 13px;

}

