* {
    box-sizing: border-box;
    margin: 0px;
}

main {
    background-color: black;
    color: white;
    padding: 34px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
}

.text-box1 {
    padding: 34px;
    border: 2px solid white;
    margin: 50px 8vw;
    font-size: 2em;
    border-radius: 13px;

}

.text-box2 {
    padding: 34px;
    border: 2px solid white;
    margin: 50px 8vw;
    font-size: 2em;
    border-radius: 13px;

}

header {
    position: sticky;
    top: 0;
}

nav {
    background-color: pink;
    height: 83px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}

.logo img{
    width: 164px;
}


.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.right ul li span{
    padding: 0 5px;
}

